html{
    min-width: 600px;
}

body{
    background-color: rgb(217,218,213);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 30px;
    padding-right: 30px;  
}

/* Header bar */
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;   
    background-color: rgb(217,218,213);
    height: 50px;
}
.header-text{
    text-decoration: none;
    color: black;
}

/* Grid CSS */
.container{
    padding-top: 50px;
    display: grid;
    height: 100vh;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}

/* Every item */
.item{
    display: flex;
    justify-self: center;
    align-self: center;
    
}

/* Sets the description to span across both columns */
.description{
    grid-column: span 2;
}

/* Sets the flexbox to columns so the items stack on top of each other */
.name{ 
    flex-direction: column;
}

/* Setting size and spacing of the icon links */
.connect > div > a >img{
    height: 50px;
}
.connect-links{
    gap: 21px;
}

/* Spans the connect block across both columns */
.connect{
    grid-column: span 2;
    flex-direction: column;
}

/* Customization to the self-portrait*/
#self-portrait{
    border-radius: 25%;
    height: 750px;
}


/* Pushes the name under the portrait if the screen is under 900px */
@media (max-width: 1000px) {
    .name{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .container{
        grid-template-columns: 1fr;
    }
}