html{
     margin-bottom: 30px; 
     
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #E3E1D9;
}

.header-text{
    text-decoration: none;
    color: black;
}

body{
   background-color: #B4B4B8; 
   font-family: 'Courier New', Courier, monospace;
   
}

/* Block one */
.block-one{
    background-color: #E3E1D9;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 100px;
}

h2{
    text-align: center;
}

/* Custom font for h1 */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

/* Block two */
#block-two{
    background-color: #C7C8CC;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.project-image{
    padding: 20px;
    border-radius: 20%;
}

.project-block{
    display: flex;
    gap: 150px;
    justify-content: center;
    padding-bottom: 100px;
}

/* Block three */

.bottom-bar{
    padding-left: 3rem;
}

footer{
    background-color: #B4B4B8;
    display: flex;
    gap: 30%;
    padding-left: 30px;
    padding-top: 10px;
}

footer > div > a{
    text-decoration: none;
    color: black;
}

#resume{
    font-size: x-large;
}

#social{
    display: flex;
    flex-direction: column;
}

.social-logo{
    height: 25px;
}

/* Misc */
/* Color for link buttons */
.btn{
    background-color: #F2EFE5;
    border-color: #F2EFE5;
    color: black;
}
.btn:hover{
    background-color: #677D6A;
}

/* Pushes the name under the portrait if the screen is under 900px */
@media (max-width: 1000px) {
    .project-block{
        flex-direction: column;
        align-items: center;
    }
}