html{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color:gainsboro;
}

h1 {
    text-align: center;
}

#project-title{
    text-align: center;
    margin-top: 25px;
}

.bottom-bar{
    margin-left: 10px;
}

.project-image{
    padding: 20px;
}

